<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" href="/web/static/style.css">
</head>
<body>
    {{ template "navbar" . }}
    <div class="content">
        {{ template "content" . }}
    </div>
    <script>
        document.getElementById('google').addEventListener('click', async function() {
            window.location.href = 'http://localhost:8082/auth/google/signup';
        });

        document.getElementById('github').addEventListener('click', async function() {
            window.location.href = 'http://localhost:8082/auth/github/login';
        });
    </script>
</body>
</html>