{{ define "title" }}Register - My Web App{{ end }}

{{ define "content" }}
    <div class="form-container">
        {{ if .Success }}
        {{if .Username}}
        <span>Hoş geldin, {{.Username}}</span>
        <a href="/logout">Çıkış Yap</a>
    {{else}}
        <a href="register.html">kayıt ol</a>
        <a href="login.html">giriş yap</a>
    {{end}}
        {{ else }}
            <h2>Kayıt Ol</h2>
            <form action="/register" method="POST">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="username" name="username" placeholder="Kullanıcı adınızı yazın" value="{{ .Username }}" required>

                <label for="email">Email Adresi</label>
                <input type="email" id="email" name="email" placeholder="Email adresinizi yazın" value="{{ .Email }}" required>

                <label for="password">Parola</label>
                <input type="password" id="password" name="password" placeholder="••••••••" value="{{ .Password }}" required>

                <button type="submit" class="btn">Kayıt Ol</button>

                <button type="button" class="auth-btn">
                    <img src="/web/static/images/google-icon.png" alt="Google Sign-In">
                    <span>Google ile Kayıt Ol</span>
                </button>

                <button type="button" class="auth-btn">
                    <img src="/web/static/images/github-icon.png" alt="Google Sign-In">
                    <span>Github ile Kayıt Ol</span>
                </button>
                <div class="footer">
                    Zaten bir hesabın var mı? <a href="login.html">Giriş Yap!</a>
                </div>
            </form>
        {{ end }}
    </div>
{{ end }}